src/test/java/it/resources/HangmanGameRankingWS.wsdl

<wsdl:definitions
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://ranking.logic.hangmangame.proxiad.com/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="RankingWebServiceImplService"
	targetNamespace="http://ranking.logic.hangmangame.proxiad.com/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://ranking.logic.hangmangame.proxiad.com/"
			elementFormDefault="unqualified"
			targetNamespace="http://ranking.logic.hangmangame.proxiad.com/"
			version="1.0">
			<xs:element name="getTop10Ever" type="tns:getTop10Ever" />
			<xs:element name="getTop10EverResponse"
				type="tns:getTop10EverResponse" />
			<xs:element name="getTop10ForLastMonth"
				type="tns:getTop10ForLastMonth" />
			<xs:element name="getTop10ForLastMonthResponse"
				type="tns:getTop10ForLastMonthResponse" />
			<xs:complexType name="getTop10ForLastMonth">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="getTop10ForLastMonthResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="return" type="tns:rankingModel" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="rankingModel">
				<xs:sequence>
					<xs:element minOccurs="0" name="playerName"
						type="xs:string" />
					<xs:element name="totalWins" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getTop10Ever">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="getTop10EverResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="return" type="tns:rankingModel" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getTop10EverResponse">
		<wsdl:part element="tns:getTop10EverResponse"
			name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getTop10ForLastMonth">
		<wsdl:part element="tns:getTop10ForLastMonth"
			name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getTop10ForLastMonthResponse">
		<wsdl:part element="tns:getTop10ForLastMonthResponse"
			name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getTop10Ever">
		<wsdl:part element="tns:getTop10Ever" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="HangmanGameRankingWS">
		<wsdl:operation name="getTop10ForLastMonth">
			<wsdl:input message="tns:getTop10ForLastMonth"
				name="getTop10ForLastMonth">
			</wsdl:input>
			<wsdl:output message="tns:getTop10ForLastMonthResponse"
				name="getTop10ForLastMonthResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getTop10Ever">
			<wsdl:input message="tns:getTop10Ever" name="getTop10Ever">
			</wsdl:input>
			<wsdl:output message="tns:getTop10EverResponse"
				name="getTop10EverResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding
		name="RankingWebServiceImplServiceSoapBinding"
		type="tns:HangmanGameRankingWS">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getTop10ForLastMonth">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getTop10ForLastMonth">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getTop10ForLastMonthResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getTop10Ever">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getTop10Ever">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getTop10EverResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RankingWebServiceImplService">
		<wsdl:port
			binding="tns:RankingWebServiceImplServiceSoapBinding"
			name="RankingWebServiceImplPort">
			<soap:address
				location="http://localhost:8080/soap-services/HangmanGameRankingWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>